@import"./_functions";
@import"./_variable";
@import"./media\ query.scss";
@import"./_mixin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 50px;
    padding: 0 50px;
}


//STARTED HEADER SECTION// -->

header {
    background-color: #F0F1F3;
    width: 100%;
    height: 68px;
}



.header_helper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0rem;

    .header_logo {
        &_title {
            font-size: 1.25rem;
            color: #2A5055;
        }
    }

    .header_nav_menu {
        display: flex;
        gap: 40px;

        &_item_link {
            font-size: 1rem;
            color: #1F2228;
        }

    }

    .header_buttons {
        &_item {
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            font-size: 0.8rem;
            border: 1px solid #2A5055;
            margin-left: 12px;
            color: #2A5055;
        }

        &_item:nth-child(1) {
            background-color: #2A5055;
            color: white;
        }
    }

}

.header_menu_icon {
    display: none;
}

//STARTED ANNOUNCEMENTS SECTION// -->

.announcements {
    width: 100%;
    height: px-to-rem(1320px);

    &_btn {
        padding: 0.5rem 1rem;
        border: 1px solid #2A5055;
        border-radius: px-to-rem(8px);
        color: #2A5055;
        font-size: px-to-rem(14px);
        font-weight: 400;
        margin-top: px-to-rem(72px);
        margin-left: 45%;

    }

    &_title {
        font-size: px-to-rem(32px);
        font-weight: 500;
        color: $color-grey;
        margin-top: px-to-rem(52px);
    }

    &_header {
        margin-top: px-to-rem(52px);
        display: flex;
        justify-content: space-between;


        &_card {

            display: flex;

            .announcements_header_form {

                &_input {
                    padding: 0.5rem 1.5rem;
                    border: 1px solid #8b9bbb;
                    border-radius: px-to-rem(8px);
                    position: relative;
                    z-index: -2;
                    text-align: center;
                }

                &_icon {
                    position: absolute;
                    top: px-to-rem(220px);
                    left: px-to-rem(120px);
                    z-index: 1;
                    color: #858D9D;
                    font-size: px-to-rem(18px);
                }

                &_btn {
                    padding: 0.5rem 1.25rem;
                    border: 1px solid #8b9bbb;
                    border-radius: px-to-rem(8px);
                    background-color: #2A5055;
                    color: white;
                    margin-left: px-to-rem(12px);
                }

            }

            .announcements_header_nav_menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: px-to-rem(50px);
                margin-left: px-to-rem(50px);

                &_item_link {
                    font-size: px-to-rem(18px);
                    font-weight: 400;
                    color: #667085;
                }

            }
        }

        .announcements_header_filter {
            display: flex;
            gap: px-to-rem(10px);
            align-items: center;


            &_info {
                font-size: px-to-rem(18px);
                font-weight: 400;
                color: #667085;
                margin-left: px-to-rem(30px);

            }

            &_icon {
                font-size: px-to-rem(12px);
                color: #667085;
            }
        }
    }

    &_card {

        margin-top: px-to-rem(28px);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;


        &_box {
            width: px-to-rem(400px);
            height: px-to-rem(500px);
            position: relative;

            &_img {
                max-width: 100%;
            }

            &_icon {
                position: absolute;
                font-size: px-to-rem(23px);
                right: px-to-rem(20px);
                top: px-to-rem(15px);
                color: black;
                background-color: #F0F1F3;
            }

            &_item {
                font-size: px-to-rem(20px);
                font-weight: bold;
                color: #000000;
                margin-top: px-to-rem(16px);
            }


            &_info {
                font-size: px-to-rem(20px);
                font-weight: 100;
                color: #000000;
                margin-top: px-to-rem(8px);
            }

            .announcements_pb {
                margin-top: px-to-rem(20px);

                &_title {
                    font-size: px-to-rem(16px);
                    font-weight: 300;
                    color: #000000;
                }

                &_line {
                    height: px-to-rem(10px);
                    margin-top: px-to-rem(5px);
                    margin-bottom: px-to-rem(5px);

                    .color {
                        @include pb_color_style(30%, px-to-rem(10px), px-to-rem(2px), #FA8F45)
                    }

                    .color_2 {
                        @include pb_color_style(50%, px-to-rem(10px), px-to-rem(2px), #FA8F45)
                    }

                    .color_3 {
                        @include pb_color_style(70%, px-to-rem(10px), px-to-rem(2px), #FA8F45)
                    }

                    .color_4 {
                        @include pb_color_style(90%, px-to-rem(10px), px-to-rem(2px), #FA8F45)
                    }

                    .color_5 {
                        @include pb_color_style(50%, px-to-rem(10px), px-to-rem(2px), #FA8F45)
                    }

                    .color_6 {
                        @include pb_color_style(90%, px-to-rem(10px), px-to-rem(2px), #FA8F45)
                    }

                    &_item {
                        font-size: px-to-rem(18px);
                        font-weight: 300;
                        color: #000000;
                    }



                }

            }
        }
    }
}

//STARTED FOOTER SECTION// -->

footer {
    width: 100%;
    height: px-to-rem(466px);
    margin-top: px-to-rem(90px);
    border: 1px solid #E0E2E7;

    .footer_box {
        width: 100%;
        height: px-to-rem(376px);
        // border: 1px solid #E0E2E7;
        display: flex;
        align-items: center;

        .footer_card {
            width: 100%;
            height: px-to-rem(228px);
            display: flex;
            column-gap: 128px;
            position: relative;


            .footer_card_nav {


                &_nav_title {
                    font-size: px-to-rem(24px);
                    font-weight: 600;
                    color: $color-grey;
                    padding-bottom: px-to-rem(16px);

                }
            }

            .footer_card_nav_menu {
                &_item {
                    padding-top: px-to-rem(20px);
                }

                &_item_link {
                    font-size: px-to-rem(16px);
                    font-weight: 400;
                    color: $color-grey;
                }
            }

            &_email {
                width: px-to-rem(365px);
                height: px-to-rem(48px);
                position: absolute;
                padding-left: px-to-rem(15px);
                bottom: 0;
                right: 0;


                &_box {
                    width: px-to-rem(243px);
                    height: px-to-rem(48px);
                    border-radius: px-to-rem(8px);
                    border: 1px solid #A3A9B6;
                }

                &_btn {
                    padding: 0.75rem 1.25rem;
                    border-radius: 0.5rem;
                    border: none;
                    background-color: #FA8F45;
                    color: white;
                    font-size: px-to-rem(14px);
                    font-weight: 400;
                }
            }


        }

    }
}

.footer_box_contact_card {
        border-top: 1px solid #E0E2E7;
        
       .footer_box_contact {
        width: 100%;
        height: px-to-rem(86px);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_nav {
            width: px-to-rem(315px);
            height: px-to-rem(24px);

            &_menu {
                display: flex;
                justify-content: space-between;
            }

            &_menu_item_link {
                font-size: px-to-rem(14px);
                font-weight: 400;
                color: #000000;
            }

        }

        &_icon {
            width: px-to-rem(186px);
            height: px-to-rem(24px);
            display: flex;
            justify-content: space-between;

            &_st {
                font-size: px-to-rem(24px);
                color: #98A2B3;
            }
        }
    }
}