.header {
    width: 100%;
    height: 120px;
    border: 1px solid red;


    .container {


        .header_top {
            width: 100%;
            height: 40px;
            border: 1px solid red;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &_item {
                display: flex;
                gap: 10px;
            }

            &_info {

                .header_top_nav {
                    display: flex;
                    gap: 20px;
                }
            }

        }




    }
}